<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Excel</title>
  <script type="text/javascript" src="/pageoffice.js" ></script>
  <script type="text/javascript">
    function Save() {
      document.getElementById("PageOfficeCtrl1").WebSave();
    }

    function ShowPrintDialog(){
      document.getElementById("PageOfficeCtrl1").showDialog(4);
    }

    function SwitchFullScreen(){
      document.getElementById("PageOfficeCtrl1").FullScreen = !document.getElementById("PageOfficeCtrl1").FullScreen;
    }

    function Close() {
      window.external.close();
    }
  </script>
</head>
<body>
  <div th:if="${#strings.contains(pageoffice,'加载PageOffice控件失败')}">
    <div style="width:1150px;height:700px;" th:utext="${pageoffice}" hidden="hidden"></div>
    <a href="javascript:POBrowser.openWindowModeless('setExcelValue','width=1200px;height=800px;');">打开文件</a>
  </div>
  <div th:unless="${#strings.contains(pageoffice,'加载PageOffice控件失败')}">
    <div style="width:1150px;height:700px;" th:utext="${pageoffice}"></div>
  </div>

</body>
</html>